<section class="esh-catalog-filters">
    <div class="container">
        <form method="get">
            <label class="esh-catalog-label" data-title="brand">
                <select class="esh-catalog-filter" id="CatalogModel_BrandFilterApplied" name="CatalogModel.BrandFilterApplied">
                    <option>All</option>
                    <option value="1">Azure</option>
                    <option value="2">.NET</option>
                    <option value="3">Visual Studio</option>
                    <option value="4">SQL Server</option>
                    <option value="5">Other</option>
                </select>
            </label>
            <label class="esh-catalog-label" data-title="type">
                <select class="esh-catalog-filter" id="CatalogModel_TypesFilterApplied" name="CatalogModel.TypesFilterApplied">
                    <option>All</option>
                    <option value="1">Mug</option>
                    <option value="2">T-Shirt</option>
                    <option value="3">Sheet</option>
                    <option value="4">USB Memory Stick</option>
                </select>
            </label>
            <input class="esh-catalog-send" type="image" src="images/arrow-right.svg" />
        </form>
    </div>
</section>