<footer class="esh-app-footer footer">
    <div class="container">
        <article class="row">
            <section class="col-sm-6"></section>
            <section class="col-sm-6">
                <div class="esh-app-footer-text hidden-xs"> e-ShopOnWeb. All rights reserved </div>
            </section>
        </article>
    </div>
</footer>