<header class="esh-app-header">
    <div class="container">
        <article class="row">
            <section class="col-lg-7 col-md-6 col-xs-12">
                <a href="/">
                    <img src="/images/brand.png" alt="eShop On Web">
                </a>
            </section>
            <section class="col-lg-4 col-md-5 col-xs-12">
                <div class="esh-identity">
                    <section class="esh-identity-section">
                        <div class="esh-identity-item">

                            <a class="esh-identity-name esh-identity-name--upper" href="/Identity/Account/Login">
                                Login
                            </a>
                        </div>
                    </section>
                </div>
            </section>
            <section class="col-lg-1 col-xs-12">


                <a class="esh-basketstatus" href="/Basket">
                    <div class="esh-basketstatus-image">
                        <img src="/images/cart.png">
                    </div>
                    <div class="esh-basketstatus-badge">
                        @(TempData["BasketCount"] ?? 0)
                    </div>
                </a>

            </section>

        </article>
    </div>
</header>